[build]
builder = "NIXPACKS"

[deploy]
startCommand = "node start.js"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[environments.production]
NODE_ENV = "production"
PORT = "3001"

[build.nixpacks]
buildCommand = "npm install --production"
buildSetupCommand = "npm run build"