[build]
builder = "NIXPACKS"

[deploy]
startCommand = "cd backend && npm install && node dist/server.js"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10



[environments.production]
NODE_ENV = "production"
PORT = "3001"

[build.nixpacks]
buildCommand = "cd backend && npm install"

[healthcheck]
path = "/health"